
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@("Test Razor")</h1>

    @{
        int a = 10;
        int b = 20;
        int c = a + b;
    }

    <h2>@c</h2>

    <p>nhoxhieuro5@gmail.com</p>
    <p>@@518H0090</p>

</body>
</html>
